@media only screen and (min-width: 500px) {

body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }

  main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 90px;
    margin-right: 90px;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
  }
  
  nav {
    background-color: #000;
    padding: .5em;
    position: sticky;
    top: 0px;
    left: 0px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* add flex row */
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 1px;
  }

  .feature {
      width: 200px;
      float: left;
      margin-right: 20px;
      margin-bottom: 20px;
      /* float left and add margin */
  }
}

  @media only screen and (max-width: 500px) {
    /* your CSS here */
    /* body {
      background-color: aqua;
    } */

    main {
      flex-direction: column;
    }

    nav ul {
      flex-direction: column;
    }

    .photos {
      grid-template-columns: 300px;
    }
  }
