#tabs {
  display: flex;
}

#topbanner {
  display: flex;
  height: 21vh;
  background-color: black;
}

#blackorly {
  width: 29vw;
  height: auto;
  margin-left: 10vw;
  margin-top: 4vh;
}

#display {
  display: flex;
  height: 500px;
}

#image, #rightside {
    width: auto;
    background-color: white;
}

#normmode, #weirdmode {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

#rightside {
  margin-top: 50px;
  line-height: 150px;
  width: 60vw;
  text-align: center;
}

#colortext {
  width: 40vw;
  height: 22vh;
  margin-left: 15vw;
  margin-bottom: 4vh;
  margin-top: 6vh;
}

button {
  margin-left: 27vw;
  background-color: white;
  border: 3px solid black;
  color: black;
  padding-top: 7px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
  border-radius: 40px;
}

button:hover {
  background-color: black;
  color: white;
}

h2 {
  margin-top: 35px;
  font-family: 'Dosis', sans-serif;
  padding-bottom: 0;
  display: inline;
  font-size: 40px;
}

h1 {
  margin-top: 75px;
  margin-left: 243px;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 0px;
  font-stretch: expanded;
  color: white;
  font-family: 'Dosis', sans-serif;
}

h3 {
  margin-top: 35px;
  font-family: 'Dosis', sans-serif;
  padding-bottom: 0;
  display: inline;
  font-size: 60px;
}

.hiddenbutton {
  display: none;
}

.shownbutton {
  display: block;
}

.active {
  flex-grow: 1;
  height: 100px;
  width: auto;
  border: 4px solid black;
  background-color: black;
  color: white !important;
}

.inactive {
  flex-grow: 1;
  height: 100px;
  width: auto;
  border: 4px solid black;
  background-color: white;
  color: black !important;
}
